<% if user_signed_in? %>
  <%= form_for(recipe) do |f| %>
    <% if recipe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_field :title, placeholder: :title %>
    </div>

    <div class="input-group">
      <%= f.text_field :price, placeholder: :price %>
      <span class="input-group-label">RON</span>
    </div>

    <div class="field">
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <%= f.text_area :description, placeholder: :description, size: '30x6' %>
    </div>

    <div class="actions">
      <%= f.submit class: 'button warning circle' %>
    </div>
  <% end %>
<% end %>
