<% if !user_signed_in? %>
  <div class="home_background">
    <div class="home_background-content">
      <h1>EatYV</h1>
      <p>
        Create your own recipes or eat Your Vegetables!
      </p>
      <%= link_to 'Get Started', new_user_registration_path, class: 'button warning expanded'  %>
      <%= link_to 'Sign In', new_user_session_path, class: 'button warning expanded' %>
    </div>
  </div>
<% end %>

<div class="second_home_background">
  <h1>Recipes</h1>
  <br>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Duration</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.title %></td>
          <td><%= recipe.price %></td>
          <td><%= recipe.duration %></td>
          <td><%= recipe.description %></td>
          <td><%= link_to 'Show', recipe %></td>

          <% if current_user == recipe.user %>
            <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
            <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if user_signed_in? %>
    <%= link_to 'New Recipe', new_recipe_path %>
  <% end %>
</div>
