<% if !user_signed_in? %>
  <div class="home_background">
    <div class="home_background-content">
    <br>
      <h1>EatYV</h1>
      <p>
        Create your own recipes or eat Your Vegetables!
      </p>
      <%= link_to 'Get Started', new_user_registration_path, class: 'button warning expanded'  %>
      <%= link_to 'Sign In', new_user_session_path, class: 'button warning expanded' %>
      <a class="aboutus" href="mailto:contact@eatyv.me">Contact Us</a> | <a class="aboutus" data-open="AboutUsModal">About Us</a>

    <div class="reveal" id="AboutUsModal" data-reveal>
      <center>
        <h1 class="orange">About us</h1>
        <p class="lead"><strong>EatYV</strong> is a community marketplace/platform where people host, discover and book unique venues around the world.
        <br>
        <br>
        Whether you are a student, employed or retired, you can have a unique travelling experience by eating at at host's/chef's house or list your home on EatYV and become a host/chef yourself and create recipes at any price point. Meeting new people has never been tastier!</p>
          <p class="info">
            <iframe width="480" height="270" src="https://www.youtube.com/embed/Jbb2VIqoRF4" frameborder="0" allowfullscreen></iframe>
          </p>

        <script language="javascript" type="text/javascript">
        $(function(){
            $('.close-button').click(function(){
                $('iframe').attr('src', $('iframe').attr('src'));
            });
        });
        </script>

        <button class="close-button" data-close aria-label="Close reveal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </center>
    </div>
    </div>
  </div>


<% end %>

<% if user_signed_in? %>
  <br>
  <h1>Recipes</h1>
  <div class="small-6 small-centered columns">
    <div class="white_background no-padding">
      <div class="input-group input-group-rounded">
        <%= form_tag recipes_path, :method => 'get' do %>
          <%= text_field_tag :search, nil, placeholder: "Search recipe by location", class: 'input-group-field'%>
        <% end %>
        <div class="input-group-button">
          <input type="submit" class="button secondary" value="Search">
        </div>
      </div>

      <div class="featured-image-block-grid">
        <div class="featured-image-block column">
          <% @recipes.each do |recipe| %>
          <hr>
            <%= link_to 'View', recipe, class: 'hollow button success' %>
            <br>
            <%= image_tag recipe.image_url(:thumb) %>
            <h3><%= recipe.title %></h3>
            <p class="text-center">Price: <%= recipe.price %> RON</p>
            <p class="text-center"><%= recipe.description.truncate(150) %></p>
            <br>
          <%end%>
        </div>
      </div>
    </div>
  </div>
<% end %>
