<% if !user_signed_in? %>
  <div class="home_background">
    <div class="home_background-content">
    <br>
      <h1>EatYV</h1>
      <p>
        Create your own recipes or eat Your Vegetables!
      </p>
      <%= link_to 'Get Started', new_user_registration_path, class: 'button warning expanded'  %>
      <%= link_to 'Sign In', new_user_session_path, class: 'button warning expanded' %>
      <a class="aboutus" href="mailto:contact@eatyv.me">Contact Us</a>
    </div>
  </div>

<p><a data-open="exampleModal2">Click me for a modal</a></p>

<!-- This is the first modal -->
<div class="reveal" id="exampleModal2" data-reveal>
  <h1>Awesome!</h1>
  <p class="lead">I have another modal inside of me!</p>
  <a class="button" data-open="exampleModal3">Click me for another modal!</a>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- This is the nested modal -->
<div class="reveal" id="exampleModal3" data-reveal>
  <h2>ANOTHER MODAL!!!</h2>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

      <p class="info">
        <iframe width="420" height="315" src="https://youtu.be/Jbb2VIqoRF4" frameborder="0" allowfullscreen></iframe>
      </p>

<% end %>

<% if user_signed_in? %>
  <br>
  <h1>Recipes</h1>
  <div class="small-6 small-centered columns">
    <div class="white_background no-padding">
      <div class="featured-image-block-grid">
        <div class="featured-image-block column">
          <% @recipes.each do |recipe| %>
          <hr>
            <%= link_to 'View', recipe, class: 'hollow button success' %>
            <br>
            <%= image_tag recipe.image_url(:thumb) %>
            <h3><%= recipe.title %></h3>
            <p class="text-center">Price: <%= recipe.price %> RON</p>
            <p class="text-center"><%= recipe.description.truncate(150) %></p>
            <br>
          <%end%>
        </div>
      </div>
    </div>
  </div>
<% end %>
