<% if !user_signed_in? %>
  <div class="home_background">
    <div class="home_background-content">
      <h1>EatYV</h1>
      <p>
        Create your own recipes or eat Your Vegetables!
      </p>
      <%= link_to 'Get Started', new_user_registration_path, class: 'button warning expanded'  %>
      <%= link_to 'Sign In', new_user_session_path, class: 'button warning expanded' %>
    </div>
  </div>
<% end %>

<% if user_signed_in? %>
  <br>
  <div class="small-6 small-centered columns">
    <h1>Recipes</h1>
    <div class="white_background">
      <div class="featured-image-block-grid">
        <div class="featured-image-block column">
          <% @recipes.each do |recipe| %>
          <hr>
            <%= link_to 'show', recipe, class: 'hollow button success' %>
            <br>
            <%= image_tag recipe.image_url(:thumb) %>
            <h3><%= recipe.title %></h3>
            <p class="text-center">Price: <%= recipe.price %></p>
            <p class="text-center"> Cooking time: <%= recipe.duration %> (min)</p>
            <p class="text-center"><%= recipe.description.truncate(150) %></p> <!-- fuge textul...trebuie facut ceva -->
            <br>
          <%end%>
        </div>
      </div>
    </div>
  </div>
<% end %>
