<% if !user_signed_in? %>
  <div class="home_background">
    <div class="home_background-content">
      <h1>EatYV</h1>
      <p>
        Create your own recipes or eat Your Vegetables!
      </p>
      <%= link_to 'Get Started', new_user_registration_path, class: 'button warning expanded'  %>
      <%= link_to 'Sign In', new_user_session_path, class: 'button warning expanded' %>
    </div>
  </div>
<% end %>

  <br>

<h1>Recipes</h1>
<div class="white_background">
  <div class="featured-image-block-grid">
    <div class="featured-image-block column">
      <% @recipes.each do |recipe| %>
        <%= link_to 'show', recipe, class: 'hollow button success' %>
        <% if current_user == recipe.user %>
          <%= link_to 'Edit', edit_recipe_path(recipe), class: 'hollow button secondary ' %>
          <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'hollow button alert' %>
        <% end %>
        <%= image_tag recipe.image_url(:thumb) %>
        <p class="text-center featured-image-block-title"><%= recipe.title %></p>
        <p class="text-center">Price: <%= recipe.price %></p>
        <br>Cooking time: <%= recipe.duration %> (min)
        <br><p class="text-center"><%= recipe.description.truncate(150) %></p> <!-- fuge textul...trebuie facut ceva -->
        <br><hr>
      <%end%>
    </div>
  </div>
</div>

