<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @reservation.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @reservation.last_name %>
</p>

<p>
  <strong>Persons:</strong>
  <%= @reservation.persons %>
</p>

<p>
  <strong>Time:</strong>
  <%= @reservation.time %>
</p>

<p>
  <strong>Message:</strong>
  <%= @reservation.message %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
